<!--Source: "Python Web Service from Idea to Production" by Tero Karvinen--!>

{% set title = "Please Read This First" %}
{% extends "base.html" %}

{% block content %}


<p>Welcome to the Movie Screening Service.</p>

<p>This is my final project in course "Python Web Service from Idea to Production by Tero Karvinen.<p/>

<p>The meaning of this project is to provide a platform for indie movie workers and customers; a tool for both arranging movie screenings and attending to them. </p>

<p>The functionality of this website is simple: the host users create posts of movie screenings, with their own contact information attached to them.</p>

<p>The regular users, who would like to attend to the film screenings, can contact the hosts via email or phone -- registration is not necessary.</p>

<br>

<h3>WARNING: THIS PROJECT IS STILL UNDER DEVELOPMENT -- PLEASE DO NOT USE THIS SERVICE IN PROFESSIONAL PURPOSES</h3>

<br>

<p>Thank you</p>
<p>Henry Friman</p>
<p>2021</p>

{% endblock content %}
