<!--Source: "Python Web Service from Idea to Production" by Tero Karvinen--!>

<!--My solution for "if not screeninglist" is based on the following post:--!>
<!----------Stack Overflow: "How do I check if a list is empty"--------!>

<!--Help for text formatting: "W3SCHOOLS: HTML TEXT FORMATTING"--!>


{% set title = "Now Showing" %}
{% extends "base.html" %}

{% block content %}

	{% if not screeninglist %}
	
		<p>No Screenings</p>
	
	{% endif %}
	
	{% for screening in screeninglist %}

		
		<h3><i>{{screening.title}}</i></h3>
		<h4>{{screening.screening_date}} || {{screening.screening_time}}</h4>
		<h4>{{screening.screening_address}}</h4>
		<p><b>-----CONTACT-------</b></p>
		<p>{{screening.host_name}}, {{screening.host_email}}, {{screening.host_phone}}</p>
		<p><b>-------------------</b></p>
		<p>Directed by {{screening.director}} || Starring {{screening.cast}}</p>
		<p>Released in {{screening.release_year}} || Runtime: {{screening.length}} minutes</p>
		<p>{{screening.synopsis}}</p>

		{% if currentUser() %}
			<a href="/screening/{{screening.id}}/edit">Edit</a> / <a href="/screening/{{screening.id}}/delete">Delete</a>
		{% endif %}
		
		<br>

	{% endfor %}

{% endblock content %}
		

